<h1>Lyric Hub</h1>

<% if logged_in? %>
    <h2>Welcome to Lyric Hub! <%= current_user['first_name'] %> </h2>
    <section class="search">
        <h3>Search for Song</h3>
        <form action="/search" method="get">
            <label for="">Title: </label>
            <input type="text" name='name'>

            <label for="">Artist: </label>
            <input type="text" name='artist'>

       <button>Search</button>
        </form>

    </section>

    <a href="/all_songs">Show all songs</a>
<% else %>

    <a href="/users/new">Sign up</a>
    <a href="/sessions/new">Login</a>

<% end %>