<h1>Lyrics</h1>
  <div><audio class="audio" src="/<%=song['name']%>.mp3" 
  preload="auto"
  controls>	
</audio></div>
    <div class="lyrics">
        <%= song['lyrics']%>
    </div>
  <a href="/all_songs">Show All Songs</a>
</form>