<h1>Lyrics</h1>
  <div>
    <audio controls>
     <source src="/songs/<%=song['name']%>.mp3" 
      <%# preload="auto" %>
      
      type="audio/mpeg">	
    </audio>
  </div>

    <div class="lyrics">
        <%= song['lyrics']%>
        <br>
        <a href="/all_songs">Show All Songs</a>
    </div>


</form>