<h1>Add Song</h1>
<form action="/songs" method="POST">
  <label for="">Name: </label>
  <input type="text" name="name">

  <label for="">Artist: </label>
  <input type="text" name="artist">
  
  <label for="">Lyrics: </label>
  <input type="text" name="lyrics">

  <label for="">Album Cover: </label>
  <input type="text" name="img_url">

  <button>Add Song</button>
</form>