<h1>Add Song</h1>
<form action="/songs" method="POST">
  <label for="">Name: </label>
  <input type="text" name="name">

  <label for="">Artist: </label>
  <input type="text" name="artist">

  <button>Add Song</button>
</form>